<!-- --------------------------------------------------------------------------------------------------------------- -->
{% extends 'app_users/base.html' %}
{% load static %}
<!-- --------------------------------------------------------------------------------------------------------------- -->


<!-- --------------------------------------------------------------------------------------------------------------- -->
{% block sign_up_in_contents %}
    <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
        <div class="container bg-white p-5 mt-5 rounded-3 shadow-sm" style="max-width: 550px;">
            <form method="POST" action={% url 'forgot_password' %}>
                {% csrf_token %}
                <!-- ------------------------------------------------------------------------------------------------------------------- -->
                <div class="form-floating mb-3 border-bottom">
                    <h5 class="text-muted text-center"><b>Forgot Password</b></h5>
                </div>
                <!-- ------------------------------------------------------------------------------------------------------------------- -->
                <div class="form-floating mb-3">
                    {{ forgot_password_form.username }}
                    <label for="id_username">* Registered mobile number</label>
                </div>
                <!-- ------------------------------------------------------------------------------------------------------------------- -->
                <div class="form-floating mb-3">
                    {{ forgot_password_form.email }}
                    <label for="id_email">* Registered Email address</label>
                </div>
                <!-- ------------------------------------------------------------------------------------------------------------------- -->
                <div class="form-floating my-4">
                    <div class="d-grid gap-2 mx-auto">
                        <button type="submit" class="btn btn-danger btn-lg btn-block rounded-3">Recover Password</button>
                    </div>
                </div>
                <!-- ------------------------------------------------------------------------------------------------------------------- -->
                <div class="form-floating mb-0">
                    <span class="text-muted small">Back to home? <a href="/" class="w3-text-red" style="text-decoration: none;"><b>Cancel</b></a></span>
                </div>
                <!-- ------------------------------------------------------------------------------------------------------------------- -->
            </form>
        </div>
    </div>
{% endblock %}
<!-- --------------------------------------------------------------------------------------------------------------- -->
